/* You can add global styles to this file, and also import other style files */
p2 {
    padding-bottom: 16px;
}

.m1 {
    margin-bottom: 8px;
}
.m2 {
    margin-bottom: 16px;
}
.m2-top {
     margin-top: 16px;
 }
.cursor-pointer {
    cursor: pointer;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}